:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

/* @layer utilities {
  .text-balance {
    text-wrap: balance;
  }
} */


*{
  background-color: #6252c7;
  font-family: 'Franklin Gothic Medium';
}

.body{
  background-color: rgba(0, 0, 0, 0.276);
  text-decoration: wavy;
  font-size: larger;
}

.headford{
  justify-content: center;
  align-items: center;
  text-align: center;

  /*padding-left: 50px;
  border: 0;*/
}

.l_name{
  color: ;
}

.i_name{
  border-left: 10px;
  border-right: 10px;
  border-radius: 100px;
}

.l_age{

}

.i_age{
  
}

.l_dob{

}

.l_name{

}

.l_email{

}

.i_email{
  
}

.l_submit{
  border: 10px;
  border-left: 30px;
  border-radius: 50px;
  box-shadow: #000;
}